    
.card {
    border: 4px black solid;
    border-radius: 2px;
    width: 150px;
    height: 150px;
    position: relative;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    background:rgb(255, 255, 255);
  }
  
  .card > .img-container > img {
    height: 100%;
  }